@import '../../styles/variables';
@import '../../styles/mixins';

.recipe {
  @include card-width(50%, 0.8rem);
  margin-bottom: $card-outer-padding;
  box-sizing: border-box;
  position: relative;
  border-radius: $round-input-radius;
  background-color: $color-card-bg;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

  @media (min-width: $bp-min-desktop) {
    @include card-width(25%, $card-outer-padding);
  }

  &__button-wishlist {
    @include basic-round-btn-props(10px, #f44336);
    right: 10px;
  }

  &__button-details {
    @include basic-round-btn-props(-18px, #47525e);
    right: 10px;
  }

  &__button-remove {
    @include basic-round-btn-props(10px, #f44336);
    left: 50px;
  }

  &__image {
    width: 100%;
  }

  &__image-wrapper {
    overflow: hidden;
    border-top-left-radius: $round-input-radius;
    border-top-right-radius: $round-input-radius;
  }

  &__infos {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: lighten($color-card-bg, 6%);
    padding: 0.3rem 1rem;
    border-bottom-left-radius: $round-input-radius;
    border-bottom-right-radius: $round-input-radius;
    svg {
      color: #47525e;
      padding-right: 6px;
    }
    & > span {
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      @media (min-width: $bp-min-desktop) {
        margin-right: 15px;
      }

      & > span {
        font-size: $font-size-small;
        color: #444;
        padding-right: 4px;
      }
    }
  }

  &__content {
    position: relative;
    padding: 1rem 1rem 3rem;
  }

  &__title {
    font-size: $font-size-medium;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }
}

.calendar__notification {
  font-size: $font-size-small;
  position: absolute;
  top: 60px;
  left: 5%;
  width: 90%;
  background-color: #fff;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: $round-input-radius;
}
