@import '../../styles/variables';

$page-inner-padding: 1.5rem;

@mixin element-width($el-width, $el-gap) {
  flex: 1 0 calc(#{$el-width} - #{$el-gap});
  max-width: calc(#{$el-width} - #{$el-gap});
}

.recipe {
  @include element-width(50%, 0.8rem);
  margin-bottom: $page-inner-padding;
  box-sizing: border-box;
  position: relative;
  border-radius: $round-input-radius;
  overflow: hidden;
  background-color: $color-card-bg;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

  @media (min-width: $bp-min-desktop) {
    @include element-width(25%, $page-inner-padding);
  }

  &__button-wishlist {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: 0;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    svg {
      font-size: $font-size-large;
      color: #f44336;
    }
    &:hover {
      top: 8px;
      background-color: #f44336;
      box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.14),
        0 5px 1px -2px rgba(0, 0, 0, 0.12), 0 3px 5px 0 rgba(0, 0, 0, 0.2);

      svg {
        color: #fff;
      }
    }
  }

  &__button-details {
    cursor: pointer;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -18px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: 0;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
      0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    transition: all 0.2s ease-in-out;
    svg {
      font-size: $font-size-large;
      color: #47525e;
    }
    &:hover {
      top: -20px;
      background-color: #47525e;
      box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.14),
        0 5px 1px -2px rgba(0, 0, 0, 0.12), 0 3px 5px 0 rgba(0, 0, 0, 0.2);

      svg {
        color: #fff;
      }
    }
  }
  // &__image-wrapper {
  //   min-height: 153px;
  // }
  &__image {
    width: 100%;
  }

  &__infos {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: lighten(#dcc1ab, 6%);
    padding: 0.3rem 1rem;
    svg {
      color: #47525e;
      padding-right: 6px;
    }
    & > span {
      margin-right: 10px;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      @media (min-width: $bp-min-desktop) {
        margin-right: 15px;
      }

      & > span {
        font-size: $font-size-small;
        color: #444;
        padding-right: 4px;
      }
    }
  }

  &__content {
    position: relative;
    padding: 1rem 1rem 3rem;
  }

  &__title {
    font-size: $font-size-medium;
    font-weight: 300;
    margin: 0;
    padding: 0;
  }
}
