@import '../../../styles/variables';

.filters {
  background-color: $color-app-bg;
  display: flex;
  width: fit-content;
  margin: auto;
  padding: 1rem;
  border-radius: 0.5rem;

  &__mask {
    display: flex;
    flex-direction: column;
    &--close {
      text-align: right;
    }

    &--inputs {
      display: flex;
      flex-direction: column;
    }

    &-button-container {
      display: flex;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__ingredients {
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
  }

  &__inputs {
    display: flex;
  }
}
