@import 'variables';

.page {
  width: 100%;
  max-width: $max-page-width;
  box-sizing: border-box;
  padding: $page-inner-padding;
  color: $color-primary;
  background-color: $color-page-bg;
  min-height: 100vh - $header-height - $footer-height;
  margin-bottom: $footer-height;
}
