// Colors
$color-primary: #223843;
$color-secondary: #286D6A;
$color-app-bg: #DBD3D8;
$color-page-bg: #EFF1F3;
$color-card-bg: #DCC1AB;

// Breakpoints for media queries
$bp-min-desktop: 769px;

// Sizes
$max-page-width: 1024px;
$page-inner-padding: 1rem;
$header-height: 5vh;
$header-height-small: 3.5vh;
$footer-height: 5vh;