// Colors
$color-primary: #223843;
$color-secondary: #286d6a;
$color-app-bg: #dbd3d8;
$color-page-bg: #eff1f3;
$color-card-bg: #dcc1ab;
$color-input-border: #bbc7d3;
$color-warning: #e61b00;

// Breakpoints for media queries
$bp-min-desktop: 769px;

// Sizes
$max-page-width: 1024px;
$page-inner-padding: 1rem;
$card-outer-padding: 1.5rem;
$header-height: 5vh;
$header-height-small: 3.5vh;
$footer-height: 5vh;

// borders
$input-border: 1px solid $color-input-border;

// Border Radius
$standard-border-radius: 5px;
$round-input-radius: 20px;

// font sizes
$font-size-small: 0.7rem;
$font-size-medium: 1rem;
$font-size-large: 1.3rem;
$font-size-xxl: 1.6rem;
