@import '../../styles/variables';

.filters {
  &__mask {
    display: flex;
    flex-direction: column;
    &--close {
      text-align: right;
    }

    &--inputs {
      display: flex;
      flex-direction: column;
    }

    &-button-container {
      display: flex;
      background-color: $color-card-bg;
      padding: 0.5rem;
      margin: 0.2rem;
      border-radius: 0.5rem;
    }
  }
}
