@import '../../styles/variables';

.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: $header-height;
  background-color: $color-primary;
  color: $color-page-bg;
  padding: 0.6rem;

  a {
    text-decoration: none;
    color: $color-page-bg;
  }

  &-menuIcon {
    display: flex;
    justify-content: flex-start;
  }

  &-links {
    display: none;
  }
  
  &-menuItem {
    box-sizing: initial;
    text-transform: uppercase;
    padding: 0 2rem;
  }
}

@media screen and (min-width: $bp-min-desktop) {
  .navbar {
    justify-content: center;

    &-menuIcon {
      display: none;
    }

    &-links {
      display: flex;
      align-items: center;
      justify-content: space-around;
      width: $max-page-width;
    }
  }
}